body {
margin: 0;
}
.App {
  text-align: center;
}
.container {
	display: grid;
	grid-template-areas: "list-articles terminal"
						 "list-articles  .";
	grid-template-rows: 1fr 1fr;
	grid-template-columns: .4fr .6fr;
	grid-gap: 10px;
	height: 100vh;
	padding: 0 10px;
}
.full-size-terminal {
	grid-template-areas: "terminal terminal"
						 "list-articles  .";
}
.device-list {
	grid-area: list-articles;
	overflow-y: auto;
}

.device-list li {
	min-height: 60px;
	border-bottom: 1px solid #9e9e9e;
	display: grid;
	grid-template-areas: "counter-device details-device details-device"
						 "name-device name-device  status-device";
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	margin-bottom: 20px;
}
.counter-device {
	grid-area: counter-device;
}
.details-device {
	grid-area: details-device;
}
.name-device {
	grid-area: name-device ;
}
.status-device {
	grid-area: status-device;
	display: flex;
    justify-content: center;
    align-items: center;
}
.circle-status {
	width: 20px;
    height: 20px;
    background: rgb(50, 50, 255);
    border-radius: 50%;
	padding: 1px;
	animation-name: loop-waiting;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1,.61,.79,1.05);
    animation-direction: alternate;
}
.success-color{
 background-color: rgb(26, 224, 26);
}
.warning-color{
	background-color: rgb(209, 92, 49);
}
.error-color {
	background-color: rgb(199, 0, 0);
}
.terminal {
	grid-area: terminal;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .25fr 1fr;
    grid-template-areas:
        ". terminal-header"
        "terminal-body terminal-body";;
    height: 100%;
	background-color: #222225;
	overflow-y: auto;
}

.terminal-header{
	grid-area: terminal-header;
	display: flex;
    justify-content: flex-end;
    padding: 10px 20px 0 0;

}
.terminal-header ul {
	list-style: none;
    display: flex;
    padding:0 ;
}
.terminal-header ul li {
	margin-right:5px ;
}
.terminal-body {
	grid-area: terminal-body;
	padding: 0 10px;
}
.terminal-log-item-container{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.terminal-log-item {
	color: yellow;
	font-family: monospace;
	font-weight: bold;
	padding: 0;
	display: block;

}
.text-warning {
	color: orangered !important;
}
.text-success {
	color:green !important;
}
.text-primary {
	color:rgb(0, 140, 255) !important;
}
.text-danger {
	color: red !important;
}
.mostrar-mas-section {
	display: flex !important;
    justify-content: center;
    align-items: center;
}
.mostrar-mas-button {
    background-color: darkgrey;
    border: 0;
    border-radius: 5px;
    height: 40px;
    outline: none;
    width: 90px;
}

.mostrar-mas-button:active {
	transform: translateY(2px);
  }
.searcher {
	background-color: inherit;
    border: none;
	color: white;
	font-weight: bolder;
	outline: none;
	border-bottom: 0.5px solid #656363;
}
.terminal-header ul li .icon-terminal:before{
	content: ">";
	height: 100%;
	width: 100%;
	opacity: 1;
	animation-name: loop-waiting;
	animation-duration: .8s;
	animation-timing-function: ease-in-out;
 	animation-iteration-count: infinite;
  	animation-direction: alternate;
}
@keyframes loop-waiting{
	from{
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
.new {
	background-color: #ccc;
}
.new span{
	color: black;
}

.modal {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5) ;
}
.modal-content {
	display: grid;
	background: white;
	width: 60%;
	height: 400px;
	grid-template-areas: ".  buttons"
						 "modal-content-text modal-content-text";
	grid-template-columns: 0.8fr .2fr;
	grid-template-rows: .2fr .8fr ;
}


.modal-content-buttons{
	display: flex;
	justify-content: flex-end;
	grid-area: buttons;
}
.modal-content-text{
	grid-area: modal-content-text;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-close-button {
	height: fit-content;
}
@media screen and (max-width: 769px){
	.container {
		padding: 0;
		grid-template-areas: "terminal terminal"
							 "list-articles  .";
	}
	.modal-content{
		width: 100%;
	}
	.terminal {
		grid-template-areas:
			"terminal-header terminal-header"
			"terminal-body terminal-body";
	}
	.terminal-header {
		flex-direction: column;
	}
	.terminal-header ul {
		padding: 0;
		flex-direction: column;
	}
	.terminal-header ul li:first-child{
		align-self: center;
	}
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
